- @page_title = @profile.user.username
h1 = @profile.user.username
br
= simple_format(@profile.comment, class: 'profile-comment')
- if policy(@profile).update?
  = button_to '編集', edit_users_profile_path(@profile), method: :get, class: 'btn btn-primary'
br
= render(partial: 'game_record', locals: {user: @profile.user})
