MAILTRAP_USERNAME=''
MAILTRAP_PASSWORD=''
REDIS_URL='redis://localhost:6379'
HOST_NAME='localhost:3000'
AWS_ACCESS_KEY=''
AWS_SECRET_KEY=''
AWS_BUCKET=''
AWS_REGION=''
TWITTER_KEY=''
TWITTER_SECRET=''
TWITTER_ACCESS_TOKEN=''
TWITTER_ACCESS_TOKEN_SECRET=''
