/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html,body {
  height: 100%;
}

body {
  padding-top: 60px;
  padding-bottom: 10px;
}

.wrapper {
  height: 100%;
}

.container {
  &.flex-col {
    height: 100%;
  }
}

.room_name {
  font-size: 20px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.navbar {
  margin-bottom: 0;
}

.navbar-bg-red {
  background-color: firebrick;
  border-color: firebrick;
}

.navbar-bg-black {
  background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
  background-color: #222;
  border-color: #080808;
}

.navbar-inverse {
  .navbar-brand {
    color: #cdddeb;
  }

  .navbar-nav {
    li {
      a {
        color: #cdddeb;
      }
    }
  }

  .navbar-toggle {
    border-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }

  .navbar-collapse {
    &.navbar-collapse-red {
      border-color: darkred;
    }

    &.navbar-collapse-black {
      border-color: black;
    }
  }
}

.form-control {
  max-width: 500px;
}
