.table.table-villages {
  margin-bottom: 5px;
}

.table.table-village-show {
  max-width: 800px;
}

.create-village-button {
  margin-top: 27px;
}

.select-kicked-player {
  max-width: 300px;
}

.form-control.datetime-select {
  display: inline-block;
  width: auto;
  padding: 1px;
}

.village-name-icon {
  margin-right: 4px;
}
