.welcome-h2 {
  margin-left: 15px;
}

.pc-image {
  height: auto;
  max-width: 850px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 40px;
}

.sp-image {
  height: auto;
  max-width: 350px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 40px;
}
